<div class="jumbotron text-center">
    <h3>Página recuperación de un secreto compartido</h3>
    <br>
    <div class="container">

        <div class="row">

            <div class="col-sm-4 col-sm-offset-1 text-center">
                <form name="myForm">
                    <p>{{ message }}</p>
                    <div class="form-group">
                        <!--<input type="text" class="form-control input-lg text-center" placeholder="Nombre" ng-model="newStudent.name" required>-->
                        <!--<br>-->
                        <input type="text" class="form-control input-lg text-center" placeholder="Share" ng-model="share" required>
                        <br>
                    </div>
                    <table class="table table-striped"  cellspacing="10" cellpadding="10" border="3">
                        <tr class="info">
                        </tr>
                        <tr ng-repeat="share in shares">
                            <td>{{ share }}</td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-success btn-lg" ng-click="addShare()" ng-disabled="myForm.$invalid || selected">Añadir share</button>
                    <button type="submit" class="btn btn-success btn-lg" ng-click="combine()">Combinar</button>
                    <!--<button type="submit" class="btn btn-warning btn-lg" ng-click="modificarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.edad || !selected">Modificar</button>
                    <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.edad || !selected">Borrar</button>!-->
                </form>
            </div>


            <div class="col-sm-6 col-sm-offset-1">
                <table class="table table-striped"  cellspacing="10" cellpadding="10" border="3">
                    <tr class="info">
                        <td>Clave recuperada: </td>
                    </tr>
                    <tr class="info">
                        <td>{{ comb }}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

</div>