<div class="jumbotron text-center">
    <h3>Página creación de Secreto Compartido</h3>
    <br>
    <div class="container">

    <div class="row">

        <div class="col-sm-6 text-center">
            <form name="myForm">
                <p>{{ message }}</p>
                <div class="form-group">
                    <input type="text" class="form-control input-lg text-center" placeholder="Secreto" ng-model="secreto" required>
                    <br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Número de shares (+1)" ng-model="n" required>
                    <br>
                    <input type="text" class="form-control input-lg text-center" placeholder="Umbral de cooperación (+1)" ng-model="t" required>
                </div>
                <button type="submit" class="btn btn-success btn-lg" ng-click="registrar()" ng-disabled="myForm.$invalid || t == 1 || n == 1 || t > n">Crear claves</button>
                <!--<button type="submit" class="btn btn-warning btn-lg" ng-click="modificarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.edad || !selected">Modificar</button>
                <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarPersona(newPersona)" ng-disabled="!newPersona.nombre || !newPersona.apellido || !newPersona.edad || !selected">Borrar</button>!-->
            </form>
        </div>


        <div class="col-sm-6">
        <table class="table table-striped" style='table-layout:fixed'>
        <tr class="info">
        <td>Nº share</td>
        <td>  </td>
        <td> Shares </td>
        </tr>
        <tr ng-repeat="share in shares">
            <td>{{ $index + 1 }}</td>
            <td><button class="btn btn-lg" style='table-layout:fixed' clipboard supported="supported" text="share" on-copied="success()" on-error="fail(err)">Copiar</button></td>        <!--<td><button ng-click="deleteStudent(student._id)">x</button></td>-->
            <td>{{share}}</td>
        </tr>
        </table>
        </div>

    </div>
</div>

</div>